/* font-family: 'IBM Plex Mono', monospace; */
/* font-family: 'Poppins', sans-serif; */

body{
    background-color: black;
}

.linkstyle{
    text-decoration: none;
    color:hsla(202, 95%, 71%, 0.692);
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    padding: 10px 50px;
}